@font-face {
  font-family: 'icomoon';
  src:
    url('icomoon.ttf?y44dfi') format('truetype'),
    url('icomoon.woff?y44dfi') format('woff'),
    url('icomoon.svg?y44dfi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail2:before {
  content: "\e95e";
}
.icon-mail1:before {
  content: "\e95f";
}
.icon-mail4:before {
  content: "\e943";
}
.icon-mail3:before {
  content: "\e90b";
}
.icon-info1:before {
  content: "\e962";
}
.icon-info2:before {
  content: "\e95d";
}
.icon-info3:before {
  content: "\e95c";
}
.icon-info4:before {
  content: "\e95a";
}
.icon-info5:before {
  content: "\e917";
}
.icon-alert5:before {
  content: "\e95b";
}
.icon-alert3:before {
  content: "\e955";
}
.icon-alert4:before {
  content: "\e956";
}
.icon-alert1:before {
  content: "\e91f";
}
.icon-alert2:before {
  content: "\e900";
}
.icon-help1:before {
  content: "\e948";
}
.icon-paypal1:before {
  content: "\e901";
}
.icon-mastercard1:before {
  content: "\e902";
}
.icon-jcb1:before {
  content: "\e903";
}
.icon-visa1:before {
  content: "\e904";
}
.icon-stripe1:before {
  content: "\e905";
}
.icon-word1:before {
  content: "\e906";
}
.icon-ppt1:before {
  content: "\e907";
}
.icon-excel1:before {
  content: "\e908";
}
.icon-outlook1:before {
  content: "\e909";
}
.icon-copy5:before {
  content: "\e911";
}
.icon-align-justify_2:before {
  content: "\e91e";
}
.icon-stop2:before {
  content: "\e923";
}
.icon-circle6:before {
  content: "\e924";
}
.icon-triangle2:before {
  content: "\e925";
}
.icon-triangle1:before {
  content: "\e90d";
}
.icon-pause3:before {
  content: "\e926";
}
.icon-step12:before {
  content: "\e927";
}
.icon-step10:before {
  content: "\e928";
}
.icon-step11:before {
  content: "\e929";
}
.icon-step9:before {
  content: "\e92a";
}
.icon-circle2:before {
  content: "\e92b";
}
.icon-circle1:before {
  content: "\e94b";
}
.icon-slash1:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e960";
}
.icon-del10:before {
  content: "\e918";
}
.icon-plus6:before {
  content: "\e920";
}
.icon-plus2:before {
  content: "\e94c";
}
.icon-plus3:before {
  content: "\e961";
}
.icon-plus4:before {
  content: "\e92c";
}
.icon-del1:before {
  content: "\e92e";
}
.icon-del2:before {
  content: "\e94d";
}
.icon-del3:before {
  content: "\e957";
}
.icon-del4:before {
  content: "\e919";
}
.icon-del5:before {
  content: "\e922";
}
.icon-del6:before {
  content: "\e92d";
}
.icon-del7:before {
  content: "\e921";
}
.icon-arrow1:before {
  content: "\e91a";
}
.icon-arrow2:before {
  content: "\e91b";
}
.icon-arrow4:before {
  content: "\e964";
}
.icon-arrow3:before {
  content: "\e963";
}
.icon-arrow5:before {
  content: "\e91d";
}
.icon-arrow6:before {
  content: "\e91c";
}
.icon-arrow7:before {
  content: "\e92f";
}
.icon-arrow8:before {
  content: "\e930";
}
.icon-arrow9:before {
  content: "\e931";
}
.icon-arrow10:before {
  content: "\e932";
}
.icon-arrow11:before {
  content: "\e94a";
}
.icon-arrow12:before {
  content: "\e934";
}
.icon-arrow13:before {
  content: "\e935";
}
.icon-arrow14:before {
  content: "\e936";
}
.icon-arrow15:before {
  content: "\e937";
}
.icon-arrow16:before {
  content: "\e938";
}
.icon-arrow17:before {
  content: "\e939";
}
.icon-arrow18:before {
  content: "\e93a";
}
.icon-arrow19:before {
  content: "\e93b";
}
.icon-arrow20:before {
  content: "\e93d";
}
.icon-arrow21:before {
  content: "\e954";
}
.icon-arrow22:before {
  content: "\e933";
}
.icon-arrow23:before {
  content: "\e93c";
}
.icon-arrow24:before {
  content: "\e93e";
}
.icon-arrow25:before {
  content: "\e949";
}
.icon-check_3:before {
  content: "\e93f";
}
.icon-check:before {
  content: "\e959";
}
.icon-check2:before {
  content: "\e913";
}
.icon-check3:before {
  content: "\e915";
}
.icon-check4:before {
  content: "\e914";
}
.icon-tell1:before {
  content: "\e942";
}
.icon-copy3:before {
  content: "\e910";
}
.icon-slack1:before {
  content: "\e916";
}
.icon-clock1:before {
  content: "\e912";
}
.icon-power1:before {
  content: "\e944";
}
.icon-window1:before {
  content: "\e94e";
}
.icon-doc1:before {
  content: "\e945";
}
.icon-window2:before {
  content: "\e946";
}
.icon-copy2:before {
  content: "\e947";
}
.icon-unlock4:before {
  content: "\e90e";
}
.icon-lock2:before {
  content: "\e90f";
}
.icon-unlock2:before {
  content: "\e94f";
}
.icon-lock3:before {
  content: "\e950";
}
.icon-bubble1:before {
  content: "\e951";
}
.icon-map1:before {
  content: "\e941";
}
.icon-home2:before {
  content: "\e90a";
}
.icon-user2:before {
  content: "\e952";
}
.icon-ellipsis3:before {
  content: "\e953";
}
.icon-gear1:before {
  content: "\e958";
}
.icon-pdf2:before {
  content: "\e966";
  color: #4b4b4b;
}
.icon-info8:before {
  content: "\e967";
}
.icon-mail6:before {
  content: "\f003";
}
.icon-mail7:before {
  content: "\f0e0";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-plus1:before {
  content: "\f067";
}
.icon-minus1:before {
  content: "\f068";
}
.icon-question1:before {
  content: "\f128";
}
.icon-music1:before {
  content: "\f001";
}
.icon-search1:before {
  content: "\f002";
}
.icon-heart1:before {
  content: "\f004";
}
.icon-star1:before {
  content: "\f005";
}
.icon-star2:before {
  content: "\f006";
}
.icon-check1:before {
  content: "\f00c";
}
.icon-del8:before {
  content: "\f00d";
}
.icon-home1:before {
  content: "\f015";
}
.icon-repeat1:before {
  content: "\f01e";
}
.icon-refresh1:before {
  content: "\f021";
}
.icon-lock1:before {
  content: "\f023";
}
.icon-unlock1:before {
  content: "\f09c";
}
.icon-volume1:before {
  content: "\f026";
}
.icon-volume2:before {
  content: "\f027";
}
.icon-volume3:before {
  content: "\f028";
}
.icon-step8:before {
  content: "\f048";
}
.icon-step6:before {
  content: "\f049";
}
.icon-step7:before {
  content: "\f04a";
}
.icon-play1:before {
  content: "\f04b";
}
.icon-pause1:before {
  content: "\f04c";
}
.icon-stop1:before {
  content: "\f04d";
}
.icon-step4:before {
  content: "\f04e";
}
.icon-step2:before {
  content: "\f050";
}
.icon-step3:before {
  content: "\f051";
}
.icon-plus5:before {
  content: "\f055";
}
.icon-minus4:before {
  content: "\f056";
}
.icon-del9:before {
  content: "\f057";
}
.icon-check5:before {
  content: "\f058";
}
.icon-question2:before {
  content: "\f059";
}
.icon-info7:before {
  content: "\f05a";
}
.icon-arrow30:before {
  content: "\f060";
}
.icon-arrow31:before {
  content: "\f061";
}
.icon-arrow32:before {
  content: "\f062";
}
.icon-arrow33:before {
  content: "\f063";
}
.icon-mail10:before {
  content: "\f064";
}
.icon-exclamation1:before {
  content: "\f06a";
}
.icon-exclamation2:before {
  content: "\f071";
}
.icon-phone3:before {
  content: "\f095";
}
.icon-phone2:before {
  content: "\f098";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort2:before {
  content: "\f0dd";
}
.icon-sort1:before {
  content: "\f0de";
}
.icon-arrow40:before {
  content: "\f053";
}
.icon-arrow41:before {
  content: "\f054";
}
.icon-arrow42:before {
  content: "\f077";
}
.icon-arrow43:before {
  content: "\f078";
}
.icon-arrow44:before {
  content: "\f104";
}
.icon-arrow45:before {
  content: "\f105";
}
.icon-arrow46:before {
  content: "\f106";
}
.icon-arrow47:before {
  content: "\f107";
}
.icon-arrow48:before {
  content: "\f137";
}
.icon-arrow49:before {
  content: "\f138";
}
.icon-arrow50:before {
  content: "\f139";
}
.icon-arrow51:before {
  content: "\f13a";
}
.icon-ellipsis1:before {
  content: "\f141";
}
.icon-ellipsis2:before {
  content: "\f142";
}
.icon-play2:before {
  content: "\f144";
}
.icon-minus5:before {
  content: "\f146";
}
.icon-minus6:before {
  content: "\f147";
}
.icon-check8:before {
  content: "\f14a";
}
.icon-youtube1:before {
  content: "\f16a";
}
.icon-file1:before {
  content: "\f016";
}
.icon-copy4:before {
  content: "\f0c5";
}
.icon-file2:before {
  content: "\f0f6";
}
.icon-pdf1:before {
  content: "\f1c1";
}
.icon-word2:before {
  content: "\f1c2";
}
.icon-excel2:before {
  content: "\f1c3";
}
.icon-ppt2:before {
  content: "\f1c4";
}
.icon-img1:before {
  content: "\f1c5";
}
.icon-user1:before {
  content: "\f007";
}
.icon-trash1:before {
  content: "\f014";
}
.icon-gear2:before {
  content: "\f013";
}
.icon-print1:before {
  content: "\f02f";
}
